<div  id="ctaSlide"  class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
    	<%= image_tag ("1.jpg")%>
    </div>
    <div class="item">
      <%= image_tag ("2.jpg")%>
    </div>
    <div class="item">
      <%= image_tag ("3.jpg")%>
    </div>
    <div class="item">
     <%= image_tag ("4.jpg")%>
    </div>
    <div class="item">
     <%= image_tag ("5.jpg")%>
    </div>
    <div class="item">
      <%= image_tag ("6.jpg")%>
    </div>
    <div class="item">
     <%= image_tag ("7.jpg")%>
    </div>
     <div class="item">
     <%= image_tag ("8.jpg")%>
    </div>
     <div class="item">
     <%= image_tag ("9.jpg")%>
    </div>
     <div class="item">
     <%= image_tag ("10.JPG")%>
    </div>
     <div class="item">
     <%= image_tag ("11.jpg")%>
    </div>
  </div>
      <a class="left carousel-control" href="#ctaSlide" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#ctaSlide" data-slide="next">&rsaquo;</a>
</div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" >
        <h2 class="featurette-heading">Search to see who's playing near you. <span class="muted">It may blow your mind.</span></h2>
        <p class="lead text-center">Search by Artist name,Venue and even your Zipcode.</p>
      </div>
      
 <%= render 'form' %>

