<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @user.avatar.url(:thumb) %>
  <strong><%= @status.user.user_id %></strong>
</p>

<p>
  <%= @status.content %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
